@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,600&display=swap');

.Logo{
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  }
  